<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScreenAndAudioRecordDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>544088F61F710C9900C719AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5440890F1F710C9900C719AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5440891A1F710C9900C719AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
